@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Press+Start+2P&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

p{
    padding: 10px;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
}
#main{
    padding: 60px;
    border: 1px solid black;
}

.char{
    height: 50px;
    width: 40px;
    position: relative;
    top: 70px;
    left: 170px;
}

 .object{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 1;
    animation: object 8s infinite;
    animation-delay: 0ms;
    
}
.object:nth-child(2){
   animation: object 12s infinite;

}
.active{
    animation: jump 0.4s infinite ;

}



@keyframes object{
    from {
       right: 0%;
    }
    to{
        right: 100%;
    }
}
@keyframes jump{
    from{
        top: 60px;
    }
    to{
        top: 0px;
    }
}

img{
    width: 550px;
    height: 550px;
}
#dino2{
    visibility: visible;
    
}